<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
<title>Shampoo email</title>
<style type="text/css">
    /* Client-specific Styles */
    #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
    body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
    /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
    .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/
    #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
    img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
    a img {border:none;}
    .image_fix {display:block;}
    p {margin: 0px 0px !important;}
    table td {border-collapse: collapse;}

    table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
    /*a {color: #e95353;text-decoration: none;text-decoration:none!important;}*/
    /*STYLES*/
    table[class=full] { width: 100%; clear: both; }

    /*################################################*/
    /*IPAD STYLES*/
    /*################################################*/
    @media only screen and (max-width: 640px) {
        a[href^="tel"], a[href^="sms"] {
            text-decoration: none;
            color: #ffffff; /* or whatever your want */
            pointer-events: none;
            cursor: default;
        }
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
            text-decoration: default;
            color: #ffffff !important;
            pointer-events: auto;
            cursor: default;
        }
        table[class=devicewidth] {width: 440px!important;text-align:center!important;}
        td[class=devicewidth] {width: 440px!important;text-align:center!important;}
        table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
        td[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
        table[class="emhide"]{display: none!important;}
        td[class="emhide"]{display: none!important;}
        img[class="bigimage"]{width: 420px!important;height:219px!important;}
        img[class="col2img"]{width: 420px!important;height:258px!important;}
        img[class="image-banner"]{width: 440px!important;height:106px!important;}
        td[class="logo"]{text-align:center!important;}
        td[class="menu"]{width:440px!important;text-align:center!important;}
        table[class="gallery"]{width:130px!important;height:84px!important;}
        td[class="gallery"]{width:80px!important;height:52px!important;}
        img[class="gallery"]{width:130px!important;height:84px!important;}
        td[class="mobiletext"]{text-align:center;}
        td[class="likes"]{width:209px!important;}
        td[class="likes1"]{width:210px!important;}
        img[class="line"]{width:380px!important;}

    }
    /*##############################################*/
    /*IPHONE STYLES*/
    /*##############################################*/
    @media only screen and (max-width: 480px) {
        a[href^="tel"], a[href^="sms"] {
            text-decoration: none;
            color: #ffffff; /* or whatever your want */
            pointer-events: none;
            cursor: default;
        }
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
            text-decoration: default;
            color: #ffffff !important;
            pointer-events: auto;
            cursor: default;
        }
        table[class=devicewidth] {width: 280px!important;text-align:center!important;}
        td[class=devicewidth] {width: 440px!important;text-align:center!important;}
        table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
        td[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
        table[class="emhide"]{display: none!important;}
        td[class="emhide"]{display: none!important;}
        img[class="bigimage"]{width: 260px!important;height:136px!important;}
        img[class="col2img"]{width: 260px!important;height:160px!important;}
        img[class="image-banner"]{width: 280px!important;height:68px!important;}
        td[class="logo"]{text-align:center!important;}
        td[class="menu"]{width:280px!important;text-align:center!important;}
        table[class="gallery"]{width:80px!important;height:52px!important;}
        td[class="gallery"]{width:80px!important;height:52px!important;}
        img[class="gallery"]{width:80px!important;height:52px!important;}
        td[class="likes"]{width:129px!important;}
        td[class="likes1"]{width:130px!important;}
        img[class="line"]{width:200px!important;}
    }
</style>

<!-- Start of preheader -->

<table id="backgroundTable" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                <tbody>
                <tr>
                    <td>
                        <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                            <tbody>
                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="7" width="100%">
                                <br></td>
                            </tr>
                            <!-- /Spacing -->

                            <!-- preheader text -->

                            <tr>
                                <td style="font-family: arial, Helvetica, sans-serif; font-size: 10px; color: rgb(153, 153, 153); position: relative;" align="right" valign="middle">

                                <br></td>
                            </tr>
                            <!-- /preheader text -->

                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="7" width="100%">
                                <br></td>
                            </tr>
                            <!-- /Spacing -->

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of preheader -->

<!-- start of header -->

<table id="backgroundTable" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" style="border-bottom-style: solid; border-color: rgb(59, 185, 255);" align="center" bgcolor="#F9F9F9" border="0" cellpadding="0" cellspacing="0" width="580">
                <tbody>
                <tr>
                    <td>
                        <div style="background:url(https://sg.helloshampoo.com/assets/img/main-bg.jpg) no-repeat">
                            <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                                <tbody>
                                <tr>
                                    <td>
                                        <!-- logo -->

                                        <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                                            <tbody>
                                            <tr>
                                                <td class="devicewidthinner" style="text-align:center;" align="center" height="80" valign="middle" width="100%">
                                                    <a href="https://vn.helloshampoo.com/" target="_blank"><img src="https://vn.helloshampoo.com/shampoo_final.png" alt="logo" style="padding-top:20; border: none; outline: none; text-decoration: none; display: inline;" border="0" width="350"></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!-- End of logo -->

                                        <!-- menu -->

                                        <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                                            <tbody>
                                            <tr>
                                                <td style="font-family: Oswald; font-size: 28px; font-weight: bold; color: rgb(241, 145, 188); text-align: center; line-height: 24px; position: relative;" class="menu" align="center" height="50" valign="middle" width="100%">
                                                    CONFIRMATION OF AMENDMENT
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!-- End of Menu -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- end of header -->

<!-- Start of main-banner -->

<table id="backgroundTable" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" style="background-color: rgb(255, 255, 255); background-position: 50% 0%;" align="center" bgcolor="#3598db" border="0" cellpadding="0" cellspacing="0" height="300" width="580">
                <tbody>
                <tr>
                    <td>
                        <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" height="300" width="580">
                            <tbody>
                            <!-- spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="20" width="100%">
                                <br></td>
                            </tr>
                            <!-- end of  Spacing  -->

                            <tr>
                                <td>
                                    <table class="devicewidthinner" align="center" border="0" cellpadding="0" cellspacing="0" width="540">
                                        <tbody>
                                        <tr>
                                            <td class="devicewidthinner" align="left" width="100%">
                                                <table class="devicewidthinner" align="left" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>

                                                    <!-- content -->

                                                    <tr>
                                                        <td style="font-family: Raleway; font-size: 14px; color: rgb(51, 51, 51); text-align: left; line-height: 24px; position: relative;" valign="middle">
                                                            Xin chào [customer_name],<br><br>

                                                            <p style="color: rgb(51, 51, 51); ">
                                                                <span style="font-size: 14.4444446563721px; line-height: 23.9999980926514px;">
                                                                    </span><font style="font-size: 14.4444446563721px; line-height: 23.9999980926514px; color: rgb(241, 145, 188); font-weight: bold;">
                                                                    [order_service]</font> đặt hẹn trước của bạn lúc<span style="font-size: 14.4444446563721px; line-height: 23.9999980926514px;">&nbsp;tại&nbsp;</span>
                                                                    <font style="font-size: 14.4444446563721px; line-height: 23.9999980926514px; color: rgb(241, 145, 188); font-weight: bold;">
                                                                    [business]</font><span style="font-size: 14.4444446563721px; line-height: 23.9999980926514px;">&nbsp;
                                                                        đã được thay đổi thành&nbsp;</span><font style="font-size: 14.4444446563721px; line-height: 23.9999980926514px; color: rgb(241, 145, 188); font-weight: bold;">
                                                                        [order_date]</font><span style="font-size: 14.4444446563721px; line-height: 23.9999980926514px;">,&nbsp;</span><font style="font-size: 14.4444446563721px; line-height: 23.9999980926514px; color: rgb(241, 145, 188); font-weight: bold;">[order_time]</font><span style="font-size: 14.4444446563721px; line-height: 23.9999980926514px;">.</span></p><br>
                                                            <p style="color: rgb(51, 51, 51); ">Xin bạn vui lòng đến sớm ít nhất 5 phút trước giờ hẹn.</p><br>
                                                            <p style="color: rgb(51, 51, 51); ">Nếu email bạn nhận được bị lỗi, xin vui lòng liên hệ <font style="color: rgb(241, 145, 188); font-weight:bold">[merchant_contact_number]</font></p><br>
                                                            <p style="color: rgb(51, 51, 51); ">Shampoo đang tiếp tục cải thiện những trải nghiệm của khách hàng dựa trên thông tin phản hồi, vì vậy đừng ngần ngại mà hãy liên hệ ngay cho chúng tôi khi bạn gặp phải bất cứ vấn đề nào.</p><br>

                                                            Cảm ơn bạn đã sử dụng <font style="color: rgb(241, 145, 188); font-weight:bold">Shampoo</font> - Trang book dịch vụ làm đẹp đầu tiên và duy nhất ở châu Á!<br><br>

                                                            Sincerely yours,<br>
                                                            <br>
                                                            The Shampoo Team
                                                            <br>
                                                            <a href="https://vn.helloshampoo.com/" target="_blank" style="text-decoration:none; color: rgb(59, 185, 255)">https://vn.helloshampoo.com/</a>

                                                            <br>
                                                            <p></p>
                                                        </td>
                                                    </tr>
                                                    <!-- end of content -->

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- end of image -->

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of main-banner -->


<!-- start of seperator -->

<table id="backgroundTable" class="emhside" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="580">
                <tbody>
                <tr>
                    <td>
                        <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                            <tbody>
                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="8">
                                <br></td>
                            </tr>
                            <!-- Spacing -->

                            <tr>
                                <td align="left" valign="middle" width="8">
                                    <img src="https://sg.helloshampoo.com/files/img/seperator-left.png" style="display: block; border: none; outline: none; text-decoration: none;" alt="" border="0" height="15" width="8">
                                </td>
                                <td class="devicewidth" align="left" height="2" valign="middle">
                                    <table valign="middle" class="devicewidthinner" align="center" border="0" cellpadding="0" cellspacing="0" height="1" width="534">
                                        <tbody>
                                        <tr>
                                            <td align="center" height="1" valign="middle" width="100%">
                                                <img src="https://sg.helloshampoo.com/files/img/line.png" style="display: block; border: none; outline: none; text-decoration: none;" class="line" alt="" border="0" height="1" width="535">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td align="right" valign="middle" width="8">
                                    <img src="https://sg.helloshampoo.com/files/img/seperator-right.png" style="display: block; border: none; outline: none; text-decoration: none;" alt="" border="0" height="15" width="8">
                                </td>
                            </tr>
                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="8">
                                <br></td>
                            </tr>
                            <!-- Spacing -->

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- end of seperator -->

<!-- image + text -->

<table id="backgroundTable" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="580">
                <tbody>
                <tr>
                    <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="20" width="100%">
                    <br></td>
                </tr>
                <tr>
                    <td>
                        <table class="devicewidthinner" align="center" border="0" cellpadding="0" cellspacing="0" width="540">
                            <tbody>

                            <!-- title -->

                            <tr>
                                <td style="font-family: Oswald; font-size: 18px; font-weight:bold; color: rgb(51, 51, 51); text-align: left; line-height: 20px; position: relative;">
                                    YOUR DETAILS
                                </td>
                            </tr>
                            <!-- end of title -->

                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="20" width="100%">
                                <br></td>
                            </tr>
                            <!-- Spacing -->

                            <!-- content -->

                            <tr>
                                <td style="font-family: Raleway; font-size: 16px; color: rgb(51, 51, 51); text-align: left; line-height: 24px; position: relative;">
                                    [customer_name]
                                    <br>
                                    <a href="mailto:[customer_email]" style="text-decoration:none; color: rgb(59, 185, 255)">[customer_email]</a>
                                    <br>
                                    [customer_phone]
                                    <br><br>
                                    <font style="font-size:10px;color:#4d4d4d">NOTE</font>
                                    <br>
                                    [order_note]
                                </td>
                            </tr>
                            <!-- end of content -->

                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="15" width="100%">
                                <br></td>
                            </tr>
                            <!-- button -->

                            <tr>
                                <td>

                                <br></td>
                            </tr>
                            <!-- /button -->

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- end of bigimage + text -->

<!-- start of seperator -->

<table id="backgroundTable" class="emhside" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="580">
                <tbody>
                <tr>
                    <td>
                        <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                            <tbody>
                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="8">
                                <br></td>
                            </tr>
                            <!-- Spacing -->

                            <tr>
                                <td align="left" valign="middle" width="8">
                                    <img src="https://sg.helloshampoo.com/files/img/seperator-left.png" style="display: block; border: none; outline: none; text-decoration: none;" alt="" border="0" height="15" width="8">
                                </td>
                                <td class="devicewidth" align="left" height="2" valign="middle">
                                    <table valign="middle" class="devicewidthinner" align="center" border="0" cellpadding="0" cellspacing="0" height="1" width="534">
                                        <tbody>
                                        <tr>
                                            <td align="center" height="1" valign="middle" width="100%">
                                                <img src="https://sg.helloshampoo.com/files/img/line.png" style="display: block; border: none; outline: none; text-decoration: none;" class="line" alt="" border="0" height="1" width="535">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td align="right" valign="middle" width="8">
                                    <img src="https://sg.helloshampoo.com/files/img/seperator-right.png" style="display: block; border: none; outline: none; text-decoration: none;" alt="" border="0" height="15" width="8">
                                </td>
                            </tr>
                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="8">
                                <br></td>
                            </tr>
                            <!-- Spacing -->

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- end of seperator -->

<!-- Start of text with date -->

<table id="backgroundTable" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<table class="devicewidth" style="border-bottom-width: 4px; border-bottom-style: solid; border-color: rgb(242, 242, 242);" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="580">
<tbody>
<tr>
    <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="20" width="100%">
    <br></td>
</tr>
<tr>
    <td>
        <table class="devicewidthinner" align="center" border="0" cellpadding="0" cellspacing="0" width="540">
            <!-- title -->

            <tbody><tr>
                <td style="font-family: Oswald; font-size: 18px; font-weight:bold; color: rgb(51, 51, 51); text-align: left; line-height: 20px; position: relative;">
                    SERVICE DETAILS
                </td>
            </tr>
            <!-- end of title -->
            </tbody></table>
    </td>
</tr>
<tr>
    <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="20" width="100%">
    <br></td>
</tr>
<tr>
    <!-- start of image -->

    <td align="center">
        <img style="display: block; border: none; outline: none; text-decoration: none;" src="[order_service_image]" alt="[order_service]" class="bigimage" border="0" height="auto" width="540">
    </td>
</tr>
<!-- end of image -->

<!-- Spacing -->
<tr>
    <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="30">
    <br></td>
</tr>
<!-- Spacing -->
<tr>
    <td>
        <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="540">
            <tbody>
            <tr>
                <td>
                    <!-- left column -->

                    <table class="devicewidth" align="left" border="0" cellpadding="0" cellspacing="0" width="110">
                        <tbody>
                        <tr>
                            <td>
                                <!-- start of text content table -->

                                <table valign="middle" class="devicewidthinner" style="border-top-left-radius: 2px; border-top-right-radius: 2px; background-color: rgb(59, 185, 255);" align="center" bgcolor="#3598db" border="0" cellpadding="0" cellspacing="0" width="110">
                                    <tbody>
                                    <!-- Spacing -->

                                    <tr>
                                        <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="9" width="100%">
                                        <br></td>
                                    </tr>
                                    <!-- /Spacing -->

                                    <!-- date -->

                                    <tr>
                                        <td style="font-family: Raleway; font-size: 24px; color: rgb(255, 255, 255); text-align: center; line-height: 40px; position: relative;">
                                            [order_time]
                                        </td>
                                    </tr>
                                    <!-- end of date -->

                                    <!-- month -->

                                    <tr>
                                        <td style="font-family: Raleway; font-size: 13px; color: rgb(255, 255, 255); text-align: center; line-height: 20px; position: relative;">
                                            [order_date]
                                        </td>
                                    </tr>
                                    <!-- end of month -->

                                    <!-- Spacing -->

                                    <tr>
                                        <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="9" width="100%">
                                        <br></td>
                                    </tr>
                                    <!-- /Spacing -->

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!-- end of text date table -->

                        </tbody>
                    </table>
                    <!-- end of left column -->

                    <!-- spacing -->

                    <table class="removeMobile" align="left" border="0" cellpadding="0" cellspacing="0" width="1">
                        <tbody>
                        <tr>
                            <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="15" width="100%">
                            <br></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- end of spacing -->

                    <!-- start of right column -->

                    <table class="devicewidth" align="right" border="0" cellpadding="0" cellspacing="0" width="410">
                        <tbody>
                        <tr>
                            <td>
                                <!-- start of text content table -->

                                <table class="devicewidthinner" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>

                                    <!-- content -->

                                    <tr>
                                        <td style="font-family: Raleway; font-size: 16px; color: rgb(51, 51, 51); text-align: left; line-height: 20px; position: relative;" width="100%">
                                            <font style="font-size:10px;color:#4d4d4d">SERVICE</font>
                                            <br>
                                            <font style="color: rgb(51, 51, 51);">[order_service]</font>
                                            <br><br>
                                            <font style="font-size:10px;color:#4d4d4d">DATE/TIME</font>
                                            <br>
                                            <font style="color: rgb(51, 51, 51);">[order_date] at [order_time]</font>
                                            <br><br>
                                            <font style="font-size:10px;color:#4d4d4d">MERCHANT NAME</font>
                                            <br>
                                            <font style="color: rgb(51, 51, 51);">[business]</font>
                                            <br><br>
                                            <font style="font-size:10px;color:#4d4d4d">ADDRESS</font>
                                            <br>
                                            <font style="color: rgb(51, 51, 51);">[order_service_address]</font>
                                            <br>
                                            <a href="[link_map]" style="text-decoration:none; color: rgb(59, 185, 255); font-size:12px" target="_blank">View Map</a>
                                            <br><br>
                                            <font style="font-size:10px;color:#4d4d4d">STAFF</font>
                                            <br>
                                            <font style="color: rgb(51, 51, 51);">[order_staff]</font>
                                            <br><br>
                                            <table style="width:100% !important;" width="100%">
                                                <tbody>
                                                <tr>
                                                    <td width="33%"><font style="font-size:10px;color:#4d4d4d">PRICE</font>
                                                        <br><font style="color: rgb(51, 51, 51);">[order_price]</font>
                                                    </td>
                                                    <td width="33%"><font style="font-size:10px;color:#4d4d4d">DISCOUNT</font>
                                                        <br>
                                                        [order_discount]
                                                    </td>
                                                    <td width="33%"><font style="font-size:10px;color:#4d4d4d">TOTAL PRICE</font>
                                                        <br><font style="color: rgb(51, 51, 51);">[order_total_money]</font>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <!-- end of content -->

                                    <!-- Spacing -->

                                    <tr>
                                        <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="15" width="100%">
                                        <br></td>
                                    </tr>
                                    <!-- /Spacing -->

                                    <!-- button -->

                                    <tr>
                                        <td>

                                        <br></td>
                                    </tr>
                                    <!-- /button -->

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!-- end of text content table -->

                        </tbody>
                    </table>
                    <!-- end of right column -->

                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="20" width="100%">
    <br></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- End of text with date -->

<!-- start of footermenu -->

<table id="backgroundTable" class="emhide" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" style="background-color: rgb(59, 185, 255)" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="580">
                <tbody>
                <tr>
                    <td>
                        <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="540">
                            <tbody>
                            <tr>
                                <td style="font-family: Oswald; font-size: 12px; color: rgb(153, 153, 153); text-align: center; line-height: 24px; position: relative;" class="menu" align="center" height="50" valign="middle">
                                    <a style="text-decoration: none; color: #ffffff;" href="https://vn.helloshampoo.com/about-us" target="_blank">About Us</a>
                                </td>
                                <td height="50" width="20">
                                <br></td>
                                <td style="font-family: Oswald; font-size: 12px; color: rgb(153, 153, 153); text-align: center; line-height: 24px; position: relative;" class="menu" align="center" height="50" valign="middle">
                                    <a style="text-decoration: none; color: #ffffff;" href="https://vn.helloshampoo.com/privacy-policy" target="_blank">Privacy Policy</a>
                                </td>
                                <td height="50" width="20">
                                <br></td>
                                <td style="font-family: Oswald; font-size: 12px; color: rgb(153, 153, 153); text-align: center; line-height: 24px; position: relative;" class="menu" align="center" height="50" valign="middle">
                                    <a style="text-decoration: none; color: #ffffff;" href="https://vn.helloshampoo.com/terms-conditions" target="_blank">Terms and Conditions</a>
                                </td>
                                <td height="50" width="20">
                                <br></td>
                                <td style="font-family: Oswald; font-size: 12px; color: rgb(153, 153, 153); text-align: center; line-height: 24px; position: relative;" class="menu" align="center" height="50" valign="middle">
                                    <a style="text-decoration: none; color: #ffffff;" href="https://vn.helloshampoo.com/contact" target="_blank">Contact</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End of Menu -->
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- end of footermenu -->

<!-- start of envelope -->

<table id="backgroundTable" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                <tbody>
                <tr>
                    <td>
                        <table class="devicewidthinner" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                            <tbody>


                            <!-- start of envelope-social -->

                            <tr>
                                <td>
                                    <table valign="top" class="devicewidth" align="center" border="0" cellpadding="0" cellspacing="0" height="45" width="580">
                                        <tbody>
                                        <tr>
                                            <td style="background-color: rgb(42, 42, 42); width:100% !important" align="left" bgcolor="#3598db" valign="middle" width="100%">
                                                <!--  Social Media Start-->

                                                <table valign="top" class="devicewidth" style="width:100% !important;" align="center" border="0" cellpadding="0" cellspacing="0" width="140">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">
                                                            <a href="https://plus.google.com/+ShampooSg/posts" target="_blank"><img src="https://sg.helloshampoo.com/files/img/google.png" alt="" height="28" width="28"></a>
                                                        </td>
                                                        <td style="padding: 0px 6px;" align="center" valign="middle">
                                                            <a href="https://twitter.com/ShampooSG" target="_blank"><img src="https://sg.helloshampoo.com/files/img/twitter.png" alt="" height="28" width="28"></a>
                                                        </td>
                                                        <td style="padding: 0px 6px;" align="center" valign="middle">
                                                            <a href="https://www.facebook.com/ShampooRez" target="_blank"><img src="https://sg.helloshampoo.com/files/img/facebook.png" alt="" height="28" width="28"></a>
                                                        </td>
                                                        <td style="padding: 0px 6px;" align="center" valign="middle">
                                                            <a href="http://instagram.com/shampoo_sg" target="_blank"><img src="https://sg.helloshampoo.com/files/img/instagram.png" alt="" height="28" width="28"></a>
                                                        </td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                        <td style="padding: 0px 7px; text-align:center" align="center" valign="middle">&nbsp;</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!--  Social Media End-->

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- end of envelope social -->

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- end of envelope -->

<!-- Start of postfooter -->

<table id="backgroundTable" bgcolor="#f6f4f5" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td>
            <table class="devicewidth" style="width:100% !important;" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                <tbody>
                <tr>
                    <td>
                        <table class="devicewidth" style="width:100% !important;" align="center" border="0" cellpadding="0" cellspacing="0" width="580">
                            <tbody>
                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="5" width="100%">
                                <br></td>
                            </tr>
                            <!-- /Spacing -->

                            <!-- postfooter text -->

                            <tr>
                                <td style="font-family: Oswald; font-size: 10px; color: rgb(153, 153, 153); width:100% !important; text-align: center; position: relative; display:inline-block" align="center" valign="middle" width="100%">
                                    © 2014 Dotsy Media
                                </td>
                            </tr>
                            <!-- /postfooter text -->

                            <!-- Spacing -->

                            <tr>
                                <td style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;" height="5" width="100%">
                                <br></td>
                            </tr>
                            <!-- /Spacing -->

                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!-- End of postfooter -->